*{

	padding: 0px;
	margin: 0px;
	font-family: Century Gothic;

}

body{

	background-color: #ededed;

}

form{

	width: 700px;
	margin: auto;
	background-color: #8bf;
	margin-top: 100px;

}

input{

	margin: 15px;
	padding: 10px;
	width: 660px;
	font-size: 18px;
	margin-bottom: 5px;

}

textarea{

	font-size: 18px;
	margin: 15px;
	padding: 8px;
	width: 660px;
	min-width:640; 
	max-width:640;
	min-height: : 100px;
	max-height: 300pc;
	margin-bottom: 5px;

}

input[type = "sumbit"]{
	
	margin-bottom: 50px;
	margin-top: 5px;

}
